<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="day.myfulishe">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".activity.FuLiCenterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="福利社"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Deails" />
        <activity android:name=".activity.Boutique" />
        <activity android:name=".activity.CategoryDetails" />
        <activity android:name=".activity.Regist" />
        <activity android:name=".activity.Login" />
        <activity android:name=".activity.MySetting"></activity>
    </application>

</manifest>